#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.pilt {
  width: 100px;
}

.pilt:hover {
  opacity: 70%;
  cursor: pointer;
}

.pilt:active {
  transform: scale(90%);
}

.summa-aktiivne {
  color: rgb(227 6 140);
  border-color: rgb(227 6 140);
  border-width: 2px;
}

.linn-aktiivne {
  text-decoration: underline;
  color: rgb(227 6 140);
  font-weight: bold;
}

.keel-aktiivne {
  text-decoration: underline;
  color: rgb(227 6 140);
  font-weight: bold;
}

.kuldne {
  color: goldenrod
}

.vaade-aktiivne {
  background-color: black;
  color: white;
}

.vaade {
  background-color: wheat;
}